// navbar
.offcanvas-backdrop.show {
  opacity: 0;
}
.navbar {
  .nav-lefticon {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    gap: 0.5rem;
    border-radius: 1rem;
    background: var(--main-color);
  }
  .nav-righticon {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    gap: 0.5rem;
    border-radius: 1rem;
    background: var(--nav--yellow);
  }
  #nav-mainNavbar {
    background-color: var(--main-color);
    width: auto;
    height: 150px;
    border-radius: 1.5rem;
    margin-top: 2rem;
    margin-left: 6.5rem;
  }
  .nav-mainToggler {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .navbar-toggler {
    padding: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: #fff;
  }
}
