:root {
  --opacity: 0;
}
// navbar
.offcanvas-backdrop.show {
  opacity: 0;
}
.navbar {
  --bs-navbar-padding-y: 0.75rem;
  --bs-navbar-padding-x: 0rem;
  @media (min-width:992px) {
    --bs-navbar-padding-y: 2rem;
    --bs-navbar-padding-x: 2rem;
  }
  .nav-lefticon, .nav-righticon {
    --nav-btn-size: 3.5rem;
    width: var(--nav-btn-size);
    height: var(--nav-btn-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  .nav-lefticon {
    background: var(--main-color);
  }
  .nav-righticon {
    background: var(--nav--yellow);
  }
  .nav-item:not(:last-child) {
    position: relative;
    &::after {
      --opacity: 0.3;
      content: '';
      position: absolute;
      @media (min-width:992px) {
        top: 50%;
        right: -0.25rem;
        height: 2.75rem;
        border-right: 1px solid rgba(var(--bs-body-bg-rgb), var(--opacity));
        transform: translateY(-50%);
      }

      /*md：直向平板，768以下*/
      @media (max-width: 767.98px) {
        width: 18rem;
        bottom: -0.25rem;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid rgba(var(--bs-body-bg-rgb), var(--opacity));
      }
    }
  }
  @media (min-width:992px) {
    .nav-item:nth-child(4) {
      &::after {
        border: none;
      }
    }
  }
  .nav-mobile{
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
  }
  .nav-mobile:last-child{
    border-bottom: none;
  }
  #nav-mainNavbar.show {
    margin-left: 0.75rem;
    @media (min-width:992px) {
      margin-left: 6.5rem;
    }
  }
  #nav-mainNavbar {
    background-color: var(--main-color);
    width: auto;
    height: fit-content;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-left: 0rem;
    border: none;
    @media (min-width:992px) {
      background-color: var(--main-color);
      width: 967px;
      border-radius: 1rem;
      margin-top: 2rem;
    }
    .nav-link{
      --opacity: 0;
      --bs-nav-link-padding-x: 1.125rem;
      --bs-nav-link-padding-y: 0.75rem;
      white-space: nowrap;
      border-radius: 0.5rem;
      color: var(--bs-white);
      border: 2px solid rgba(var(--bs-body-bg-rgb), var(--opacity));
      &:hover {
        --opacity: 1;
      }
      @media (min-width:992px) {
        --bs-nav-link-padding-x: 1.125rem;
        --bs-nav-link-padding-y: 1.25rem;
        font-size: 1.125rem;
      }
    }
    .nav-link.active{
      color: var(--bs-dark) !important;
      background: var(--minor-color);
      &:hover {
        --opacity: 0;
      }
    }
    #nav-mainsec{
      justify-content: flex-start;
      padding-top: 16px ;
      color: #fff;
    }
  }
  
  .dropdown{
    width: 3.5rem;
    bottom: 0;
    @media (min-width:992px) {
    }
  }
  .dropdown-toggle{
    width: 56px;
    background: none;
    border: none;
    &:focus-visible {
      box-shadow: none;
    }
  }
  .dropdown-toggle::after{
    display: none;
  }
  .dropdown-toggle:active{
    background: none;
    border: none;
  }
  .dropdown-menu {
    --bs-dropdown-spacer: 1.125rem;
    padding: 0.5rem;
    width: 6rem;
    border-radius: 1rem;
    background: var(--main-color);
    border: none;
    &:before {
      content: '';
      position: absolute;
      width: 1rem;
      height: 0.875rem;
      right: 1.25rem;
      top: -0.875rem;
      background-color: var(--main-color);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    li:not(:last-child) {
      --opacity: 0.3;
      border-bottom: 1px solid rgba(var(--bs-body-bg-rgb), var(--opacity));
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
  .dropdown-item {
    --opacity: 0;
    display: flex;
    --dropdown-item-padding-y: 0.75rem;
    padding-top: var(--dropdown-item-padding-y);
    padding-bottom: var(--dropdown-item-padding-y);
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
    border-radius: 0.5rem;
    border: 2px solid rgba(var(--bs-body-bg-rgb), var(--opacity));
    transition: ease 0.3s;
    &:hover {
      --opacity: 1;
    }
    /*lg：橫向平板，992以上*/
    @media (min-width: 992px) {
      font-size: 1.125rem;
    }
  }
  .dropdown-menu li:last-child .dropdown-item {
    
  }
  .dropdown-item:hover{
    background: unset;
  }
  
  .offcanvas-body{
    padding: 0.5rem;
  }
  .navbar-nav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @media (min-width:992px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .nav-mainToggler {
    @media (min-width:992px) {
    }
  }
  .navbar-toggler {
    padding: 0;
    border: none;
    @media (min-width:992px) {
    }
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: #fff;
  }
}