$paper-texture: url("../img/paper_texture_repeat.jpg");
$grid-texture: url("../img/grid-bg.jpg");
$hanwang: 'HanWangHeiHeavy', Arial, sans-serif;
$tooltip-max-width: 100% !important;

// Mixin
// 紙張紋理
@mixin paper-bg {
    background: $paper-texture repeat;
    background-size: 100px 100px;
}
// 格線紋理
@mixin grid-bg {
    background: $grid-texture repeat;
    background-size: 208px 210px;
}

//引入思源黑體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Overpass&display=swap');

:root {
    // home
    --peach-dark: #BF6A4D;
    --peach-light: #F9CFB9;
    --nav--yellow: #EFE719;
    // p1
    --green-dark: #637E3E;
    --green-light: #C9E48B;
    // p2
    --blue-dark: #444F7E;
    --blue-light: #ADC5E1;
    // p3
    --brown-dark: #826A46;
    --brown-light: #DCBB9E;
    // p4
    --purple-dark: #785489;
    --purple-light: #D4BFDE;
    // p5
    --teal-dark: #3A6C57;
    --teal-light: #A3D3BF;
    // p6
    --claret-dark: #6C3A58;
    --claret-light: #D9B2BB;
    // p7
    --cyan-dark: #2E878D;
    --cyan-light: #A7D8DB;
}
::-webkit-scrollbar {
    width: 0.5rem;
    position: absolute;
}
::-webkit-scrollbar-track {
    background: #F8F6E5;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.511);
    border-radius: 5px;
}
body {
    font-family: 'Noto Sans TC', Arial, sans-serif;
    @include paper-bg;
    overflow-x: hidden;
}
@import '_nav.scss';
@import '_home.scss';

footer{
    color: #000;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.5rem;
    margin-bottom: 12px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}