$paper-texture: url("/assets/img/paper_texture_repeat.jpg");
$grid-texture: url("/assets/img/grid-bg.jpg");
$hanwang: 'HanWangHeiHeavy', Arial, sans-serif;

// Mixin
// 紙張紋理
@mixin paper-bg {
    background: $paper-texture repeat;
    background-size: 100px 100px;
}
// 格線紋理
@mixin grid-bg {
    background: $grid-texture repeat;
    background-size: 208px 210px;
}

:root {
    // home
    --peach-dark: #BF6A4D;
    --peach-light: #F9CFB9;
    --nav--yellow: #EFE719;
    // p1
    --green-dark: #637E3E;
    --green-light: #C9E48B;
    // p2
    --blue-dark: #444F7E;
    --blue-light: #ADC5E1;
    // p3
    --brown-dark: #826A46;
    --brown-light: #DCBB9E;
    // p4
    --purple-dark: #785489;
    --purple-light: #D4BFDE;
    // p5
    --teal-dark: #3A6C57;
    --teal-light: #A3D3BF;
    // p6
    --claret-dark: #6C3A58;
    --claret-light: #D9B2BB;
    // p7
    --cyan-dark: #2E878D;
    --cyan-light: #A7D8DB;
}
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: #F8F6E5;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.511);
    border-radius: 5px;
}
body {
    font-family: 'Noto Sans TC', Arial, sans-serif;
    @include paper-bg;
    overflow-x: hidden;
}
// home
@import '_nav.scss';
.kv {
    img{
        width: 100%;
    }
    padding-top: 88px;
    .kv-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 992px) {
            align-items: flex-start;
        }
    }
    .kv-date {
        margin-bottom: 8px;
        font-family: $hanwang;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        gap: .75rem;
        color: var(--main-color);
        @media (min-width: 768px) {
            font-size: 2.25rem;
            gap: 1rem;
        }
        .date-line {
            width: 2rem;
            height: 0;
            border-bottom: 2px solid var(--main-color);
            @media (min-width: 768px) {
                width: 5rem;
                border-width: 4px;
            }
        }
    }
    .kv-title {
        font-family: $hanwang;
        color: var(--main-color);
        font-size: 3rem;
        text-align: center;
        @media (min-width: 768px) {
            font-size: 5.5rem;
        }
        @media (min-width: 992px) {
            text-align: left;
        }
        .large {
            display: block;
            font-size: 4rem;
            @media (min-width: 768px) {
                font-size: 5rem;
            }
            @media (min-width: 992px) {
                font-size: 6rem;
            }
            @media (min-width: 1200px) {
                font-size: 7rem;
            }
            @media (min-width: 1400px) {
                font-size: 7.5rem;
            }
        }
    }
    .kv-bubble {
        width: 100%;
        height: auto;
        @media (min-width: 1200px) {
            width: 512px;
        }
    }
    .kv-sub-title {
        margin-top: 1rem;
        @media (min-width: 1200px) {
            margin-top: 2.5rem;
            margin-left: 2.25rem;
        }
    }
    .kv-img {
        padding-top: 32px;
        .kv-main {
            width: 100%;
        }
    }
    .kv-sec{
        margin-top: 10rem;
    }
    
}
.bubble{
    text-align: center;
    margin-top: 3rem;
    .col-12{
        display: flex;
        gap: 2.63rem;
        justify-content: center;
    }
    img{
        width: 22rem;
    }
    
}
.bubblesec{
    .bubble-secimg{
        width: 25rem;
    }
    .bubblesec-catman{
        position: absolute;
        width: auto;
        bottom: 0;
        margin-bottom: 2.56rem;
    }
    .bubblesec-text{
        color: #000;
        text-align: center;
        font-family: HanWangHeiHeavy;
        font-size: 2rem;
        font-weight: 400;
        line-height: normal;
        margin-top: 1.93rem;
        position: relative;
        display: flex;
        justify-content: center;
        .bubblesec-limg{
            position: absolute;
            width: auto;
            margin-left: -10rem;
            top: -1.56rem;
            transform: rotate(0.75turn);
        }
        .bubblesec-rimg{
            position: absolute;
            width: auto;
            margin-left: 10rem;
            top: -1.56rem;
        }
    }
}
#link-item{
    margin-top: 7.37rem;
    .link-img1{
        display: block;
        transform: translate(20px, 0);
        width: 38rem;
    }
    .link-img2{
        display: block;
        transform: translate(20px, 0);
        width: 36.75rem;
    }
    .link-secrow{
        margin-top: 2.88rem;
        .link-img3{
            margin-left: 13.5rem;
            width: 53.5rem;
        }
        .link-img4{
            position: absolute;
            width: 50.25rem;
        }
    }

}
footer{
    color: #000;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}