#point1 {
  left: 88%;
  top: 13.3%;
}
#point2 {
  left: 82.1%;
  top: 11.2%;
}
#point3 {
  left: 74.6%;
  top: 10%;
}
#point4 {
  left: 67.9%;
  top: 12.3%;
}
#point5 {
  left: 60.6%;
  top: 16.9%;
}
#point6 {
  left: 63.5%;
  top: 24.7%;
}
#point7 {
  left: 54.7%;
  top: 19.9%;
}
#point8 {
  left: 46%;
  top: 25.2%;
}
#point9 {
  left: 39.1%;
  top: 29.2%;
}
#point10 {
  left: 32.8%;
  top: 33.2%;
}
#point11 {
  left: 20.6%;
  top: 42.7%;
}
#point12 {
  left: 30.6%;
  top: 44.7%;
}
#point13 {
  left: 15.5%;
  top: 49.4%;
}
#point14 {
  left: 10.7%;
  top: 64%;
}
#point15 {
  left: 20%;
  top: 86%;
}
#point16 {
  left: 43%;
  top: 69.9%;
}
#point17 {
  left: 68.7%;
  top: 43%;
}
#point18 {
  left: 54.4%;
  top: 38.7%;
}
#point19 {
  left: 83.8%;
  top: 27%;
}
#point20 {
  left: 37%;
  top: 14.8%;
}
#point21 {
  left: 8.6%;
  top: 37.6%;
}
#point22 {
  left: 57.5%;
  top: 6.8%;
}